<h1>New Blog</h1>
<%= form_for @post do |f| %>
<p>
  <%= f.label 'Title' %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label 'Content' %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label 'Category' %>
  <%= f.text_field :title %>
</p>


<%= f.submit 'Entry' %>


<% end %>
